//| 'body1' | 'body2' | 'caption' | 'button' | 'overline'; //variant

.text {
  &__h1 {
    font-size: 6.8em;
  }
  &__h2 {
    font-size: 6em;
  }
  &__h3 {
    font-size: 4.9em;
  }
  &__h4 {
    font-size: 3.8em;
  }
  &__h5 {
    font-size: 2.7em;
  }
  &__h6 {
    font-size: 1.8em;
  }
  &__subtitle1 {
    font-size: 1.3em;
    font-weight: bold;
  }
   &__subtitle2 {
    font-size: 0.85em;
    font-weight: bold;
 }
  &__body1 {
    font-size: 1em;
  }
  &__body2 {
    font-size: 0.92em;
  }
  // &__caption {
  // }
  // &__button {
  // }
  // &__overline {
  // }
}
